h1
  {
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: 32px;
  }

#search
  {
  background-color: #F5F5F5;
  }
  #search .panel-body
    {
    padding-bottom: 12px;
    }

#concept-uri-wrapper
  {
  margin-left: -3px;
  }
  
#examples
  {
  font-size: smaller;
  margin-top: 0.5em;
  }

#examples a
  {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: pointer;
  transition: color 0.3s ease-out;
  }
  #examples a:hover
    {
    color: #d04000;
    border-bottom-color: #d04000;
    transition: color 0s ease-out;
    }

#search hr
  {
  margin-top: 7px;
  margin-bottom: 5px;
  }
    
#context .checkbox-inline+.checkbox-inline 
  {
  margin-left: 0;
  }
#context .checkbox-inline
  {
  width: 9em;
  /*border: 1px solid red;*/
  padding-top: 3px;
  padding-bottom: 2px;
  }
  
label.checkbox-inline
  {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  }

#context label .count
  {
  font-size: smaller;
  color: darkgray;
  }

h5
  {
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: larger;
  }

#result table th.notation
  {
  padding-left: 0px;
  }
#result table td
  {
  vertical-align: middle;
  }
#result table td.context
  {
  font-size: smaller;
  }
#result table td .show-details
  {
  float: right;
  }

#load-more-wrapper
  {
  text-align: center;
  }
#load-more
  {
  width: 15em;
  }

#formula
  {
  padding-bottom: 1em;
  padding-top: 0.5em
  }
  
#variables-header
  {
  padding-top: 0.5em;
  }
  
#variables table
  {
  width: auto;
  }
  
#variables .classlabel
  {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out;
  }
#variables .classlabel:hover
  {
  color: #d04000;
  transition: color 0s ease-out;
  }

#journal .pdf
  {
  white-space: nowrap;
  }

#about dl ul, #about dl ol
  {
  padding-left: 15px;
  }

#about .list-inline>li
  {
  padding-right: 0px;
  }
  
#footer
  {
  opacity: 0.95;
  margin-bottom: -5px;
  }

#footer .nav i.fa
  {
  font-size: 1.2em;
  }


.fa-external-link
  {
  padding-left: 0.35em;
  }

.btn
  {
  outline: none !important;
  }

@-webkit-keyframes anim1 {from {background-color: lightyellow ;} to {}}
        @keyframes anim1 {from {background-color: lightyellow ;} to {}}
#result table tr td
  {
  -webkit-animation: anim1 1.5s;
          animation: anim1 1.5s;
  }

body
  {
  padding-bottom: 100px;
  overflow-y: scroll;
  }

body.modal-open, .modal
  {
  overflow-y: hidden;
  }
body::-webkit-scrollbar
  {
  width: 12px;
  }
body::-webkit-scrollbar-track
  {
  background: white; 
  }
body::-webkit-scrollbar-thumb
  {
  border-radius: 3px;
  border: 1px solid rgba(190, 190, 190, 1);
  background: rgba(240,240,240,1);
  }
body::-webkit-scrollbar-thumb:hover
  {
  background: rgba(230,230,230,1);
  }
body::-webkit-scrollbar-thumb:active
  {
  border-color: rgba(160, 160, 160, 1);
  background: rgba(216, 216, 216, 1);
  }
  
